:root {
  /* --primary: #695cfe;
  --primary_hover: #4c43b8; */

  /* ######## colors ######## */
  --body-color: #efe9f7;
  --light-box: #fff;
  --primary: #00a088;
  --primary_hover: #00e7c4;
  --primary-light: #f6f5ff;
  --toggle: #ddd;
  --text: #707070;
  --ligt-text: #ffffff;
  --shadow: #00000030;
  --tomato: tomato;
  --blue: blue;
  --skyblue: skyblue;
  --black-text: #000;
  --input-color: #000;
  --download: #695cfe;

  /* ######## times ######## */
  --tran-01: all 0.2s ease;
  --tran-02: all 0.3s ease;
  --tran-03: all 0.5s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: var(--body-color);
}

hr {
  border-color: var(--body-color);
}

.webcontent {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}

.side_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  padding: 10px 14px;
  background-color: var(--light-box);
  box-shadow: 0 0 20px var(--shadow);
  transition: var(--tran-03);
}

.side_nav .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
}

.side_nav .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

.side_nav .image-text img {
  width: 40px;
}

.side_nav header {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.side_nav header .image-text {
  display: flex;
  align-items: center;
}

.header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.header-text .name {
  font-weight: bold;
  letter-spacing: 4.5px;
}

.header-text .profession {
  font-size: 12px;
}

.side_nav header .toggle img {
  width: 25px;
  position: absolute;
  top: 15px;
  right: -25px;
  background-color: var(--primary);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: var(--tran-03);
}

.side_nav li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.side_nav li a {
  width: 100%;
  height: 100%;
  color: var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 6px;
  padding-right: 35px;
  box-sizing: border-box;
  transition: var(--tran-02);
}

.side_nav li a .text {
  font-weight: bold;
}

.side_nav li input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: var(--body-color);
  border-radius: 5px;
}

.search {
  background-color: var(--body-color);
  border-radius: 5px;
}

.side_nav li a:hover .text {
  color: var(--ligt-text);
}

.side_nav li a:hover {
  background-color: var(--primary);
  color: var(--ligt-text);
}

.side_nav li img {
  margin: 0 30px;
}

.side_nav .menu-bar {
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  max-width: 1920px;
  height: 100vh;
  margin-left: 290px;
  margin-right: 10px;
  position: relative;
  transition: var(--tran-03);
}

.indicators {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 20px;
  padding: 20px 0;
  box-sizing: border-box;
}

.indicators .box,
.lg_box .box {
  background-color: var(--light-box);
  min-height: 150px;
  border-radius: 6px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 10px var(--shadow);
}

.indicators .box h2,
.indicators .box p {
  color: var(--text);
}

.indicators_dash {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
}

.indicators_dash .lg_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.lg_box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  transition: var(--tran-02);
}

.lg_box .box img {
  height: 100px;
  margin-right: 10px;
}

.lg_box .box .detalis {
  padding-left: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.date h1 {
  padding: 20px 20px 0 0;
  box-sizing: border-box;
  color: var(--text);
}

.lg_box .box .notes .note {
  max-height: 400px;
  overflow-y: scroll;
  padding: 10px;
  box-sizing: border-box;
}

.lg_box .box .notes .note::-webkit-scrollbar {
  width: 0;
}

.lg_box .box .notes div ul li {
  display: grid;
  grid-template-columns: 1fr 6fr 0.5fr;
  grid-gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  transition: var(--tran-02);
  scale: 98%;
}

.lg_box .box .notes div ul li:hover {
  box-shadow: 0 5px 10px var(--shadow);
  scale: 102%;
  cursor: context-menu;
}

.st_id {
  font-weight: bold;
  width: 180px;
}

.note_details {
  text-align: justify;
  font-size: 18px;
}

.del {
  width: 50px;
}

.create_button {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
}

/* ======== login / register ======== */
.login_content {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_page {
  max-width: 800px;
  min-height: 350px;
  background-color: var(--light-box);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  text-align: center;
  box-shadow: 0 0 20px var(--shadow);
  align-items: center;
  justify-content: space-between;
}

.form_page img {
  width: 100px;
  border-radius: 10px;
}

.details h1 {
  /* letter-spacing: 3px; */
  font-weight: bold;
  font-size: 32px;
}

.details p {
  font-size: 10px;
  letter-spacing: 2px;
}

.form form p {
  text-align: left;
}

.form form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-light);
}

.form form input[type="submit"] {
  background-color: var(--primary);
  color: var(--ligt-text);
  font-weight: bold;
  cursor: pointer;
  transition: var(--tran-02);
}

.form form input[type="checkbox"] {
  width: 20px;
  cursor: pointer;
}

.form form input[type="submit"]:hover {
  background-color: var(--primary_hover);
  box-shadow: 0 0 20px var(--shadow);
  scale: 95%;
}

.box .cl_list {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
}

.box .cl_list a {
  background-color: var(--tomato);
  color: var(--ligt-text);
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: var(--tran-02);
}

.box .view a {
  background-color: var(--blue);
  color: var(--ligt-text);
}

.box .cl_list a:hover {
  background-color: red;
  box-shadow: 0 0 20px var(--shadow);
  scale: 95%;
}

.box .view a:hover {
  background-color: var(--skyblue);
}

.box_link p {
  position: relative;
  width: 100%;
  height: 50px;
}

.box_link p a {
  position: absolute;
  width: 100%;
  background-color: var(--primary);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  color: var(--ligt-text);
  text-decoration: none;
  transition: var(--tran-02);
}

.box_link p a:hover {
  box-shadow: 0 0 20px var(--shadow);
  background-color: var(--primary_hover);
  scale: 98%;
}

.main_airea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 30px;
}

.filters {
  padding: 10px;
  box-sizing: border-box;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.filters h2 {
  text-align: center;
  color: var(--text);
}

.filters ul li {
  list-style: none;
  height: 60px;
  position: relative;
}

.filters ul li a {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--ligt-text);
  font-weight: bold;
  text-decoration: none;
  transition: var(--tran-02);
}

.filters form input,
.filters form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: var(--light-box);
}

.filters form input[type="submit"] {
  background-color: var(--primary);
  color: var(--ligt-text);
  font-weight: bold;
  cursor: pointer;
  transition: var(--tran-02);
}

.filters ul li a:hover,
.filters form input[type="submit"]:hover {
  background-color: var(--primary_hover);
  scale: 95%;
  box-shadow: 0 0 20px var(--shadow);
}

.filters form input[type="checkbox"] {
  width: 20px;
}

.students {
  width: 100%;
  height: calc(100vh - 160px);
  overflow: scroll;
  border-left: 1px solid var(--shadow);
  padding: 0 30px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: var(--black-text);
  table-layout: auto;
}

table tr {
  transition: var(--tran-02);
}

table tr th {
  background-color: var(--primary-light);
  height: 50px;
  text-align: left;
  min-width: 100px;
}

table tr th,
table tr td {
  padding: 8px;
  box-sizing: border-box;
  /* border: 1px solid var(--text); */
}

.filters table tr th,
.filters table tr td {
  padding: 15px 8px;
  box-sizing: border-box;
  /* border: 1px solid var(--text); */
}

table tr td a {
  padding: 5px 15px;
  background-color: var(--blue);
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  color: var(--ligt-text);
  transition: var(--tran-02);
}

table tr td .view a {
  background-color: var(--primary);
  color: var(--ligt-text);
}

table tr td .view a:hover {
  background-color: var(--primary_hover);
}

table tr td .delete a {
  background-color: var(--tomato);
  color: var(--ligt-text);
}

table tr td a:hover {
  scale: 95%;
  box-shadow: 0 0 20px var(--shadow);
  background-color: var(--skyblue);
}

table tr td .delete a:hover {
  background-color: red;
}

table tr:nth-child(odd) {
  background-color: var(--light-box);
}

table tr:hover {
  background-color: var(--shadow);
}

.students::-webkit-scrollbar {
  height: 12px;
  width: 0;
}

.students::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

.students::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2px;
  cursor: pointer;
}

.content .search form {
  width: 99%;
  margin: auto;
}

.content .search form input {
  width: 100%;
  padding: 20px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: var(--light-box);
  box-shadow: 0 0 20px var(--shadow);
}

.popup_forms,
.update_students {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: -2;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  transition: var(--tran-03);
  opacity: 0;
}

.popup_forms .pop_form {
  width: 95%;
  max-width: 500px;
  background-color: var(--light-box);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--shadow);
  color: var(--text);
}

.close_btn {
  text-align: right;
  cursor: pointer;
}

.close_btn img {
  width: 30px;
  transition: var(--tran-02);
}

.close_btn img:hover {
  rotate: -180deg;
  scale: 120%;
}

.popup_forms .pop_form form input,
.popup_forms .pop_form form select,
.update_students form input,
.update_students form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--body-color);
  border-radius: 5px;
  color: var(--input-color);
}

.popup_forms .pop_form form input[type="submit"],
.update_students form input[type="submit"] {
  background-color: var(--primary);
  color: var(--ligt-text);
  font-weight: bold;
  transition: var(--tran-02);
}

.popup_forms .pop_form form input[type="submit"]:hover,
.update_students form input[type="submit"]:hover {
  background-color: var(--primary_hover);
  cursor: pointer;
}

.update_students form {
  width: 90%;
  max-width: 500px;
  background-color: var(--light-box);
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px var(--shadow);
}

.update_students form h2 {
  color: var(--text);
  text-align: center;
}

.pop_form a {
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  background-color: var(--primary);
  color: var(--ligt-text);
  text-decoration: none;
  border-radius: 5px;
  transition: var(--tran-02);
}

.pop_form a:hover {
  background-color: var(--primary_hover);
  scale: 95%;
}

.student_details {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.student_details img {
  width: 150px;
}

.st_details p {
  color: var(--text);
  font-size: 20px;
}

.st_details p span {
  color: var(--black-text);
  font-weight: bold;
}

.old_update {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 30px;
}

.old_details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 1px solid var(--shadow);
  color: var(--text);
  padding-right: 30px;
  box-sizing: border-box;
}

.old_details ul li {
  list-style: none;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}

.paid {
  font-weight: bold;
  color: green;
}

table .paid {
  font-size: 16px;
  font-weight: bold;
}

.updates form input[type="checkbox"] {
  width: auto;
}

.updates form select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 5px;
}

.updates form input[type="submit"] {
  background-color: var(--primary);
  font-weight: bold;
  color: var(--ligt-text);
  padding: 12px;
  cursor: pointer;
  transition: var(--tran-02);
}

.updates form input[type="submit"]:hover {
  background-color: var(--primary_hover);
  scale: 95%;
}

.class_list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}

#class_list {
  overflow: hidden;
  height: calc(100% - 10px);
  overflow-y: scroll;
}

#class_list::-webkit-scrollbar {
  width: 0;
}

.class_list p {
  padding: 15px 10px;
  box-sizing: border-box;
}

.class_list a {
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--ligt-text);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: var(--tran-02);
}

.class_list a:hover {
  background-color: var(--primary_hover);
}

.students .details {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
}

#attendance_details {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-left: 30px;
  border-left: 1px solid var(--shadow);
  color: var(--text);
}

.attendance_filter p {
  position: relative;
}

.attendance_filter p a {
  position: absolute;
  width: 100%;
  background-color: blue;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: var(--ligt-text);
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  transition: var(--tran-02);
}

.attendance_filter p a:hover {
  background-color: var(--primary);
  box-shadow: 0 0 20px var(--shadow);
  scale: 90%;
}

.attendance_filter h2 {
  text-align: center;
}

.attendance_filter form input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: var(--primary);
  cursor: pointer;
  transition: var(--tran-02);
  color: var(--ligt-text);
  font-weight: bold;
  border-radius: 5px;
}

.attendance_filter form input:hover {
  background-color: var(--primary_hover);
  scale: 95%;
  box-shadow: 0 0 20px var(--shadow);
}

.view_more .box {
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;
}

.view_more .box::-webkit-scrollbar {
  width: 0;
}

.tb_alin {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

.tb_alin::-webkit-scrollbar {
  width: 0;
}

.location_form form p input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--shadow);
}

.location_form form p input[type="submit"] {
  background-color: var(--primary);
  color: var(--ligt-text);
  font-weight: bold;
  cursor: pointer;
  transition: var(--tran-02);
  border-radius: 5px;
}

.location_form form p input[type="submit"]:hover {
  background-color: var(--primary_hover);
  scale: 98%;
  box-shadow: 0 0 20px var(--shadow);
}

button {
  background-color: tomato;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--ligt-text);
  font-weight: bold;
  border-radius: 5px;
  transition: var(--tran-02);
}

button:hover {
  background-color: red;
  box-shadow: 0 0 10px var(--shadow);
  scale: 108%;
}
